/**
 * Fonts
*/

@font-face {
  font-family: 'Stapel';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/Stapel_Extra_Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Stapel';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Stapel_Regular.woff2') format('woff2');
}
