/**
 * Variables
*/

/* Breakpoints */
// $small: 767px;
$xsmall: 568px;
$small: 1024px;
// $medium: 1280px;
$medium: 1440px;


/* Colour palette */
$bg: #141414;
$orange: #ff6f32;
$brand-blue: #1781f3;
$dodger-blue: #33b8ff;
$purple: #8798F7;
$brand-orange: #FF521F;
$pink: #F178B6;
