html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  font-size: vw(16px);
  font-weight: 400;
  line-height: 1.4;
  color: #fff;
  background: #141414;
  scroll-behavior: smooth;

  &.no-scroll {
    overflow: hidden;
  }

  @include xsmall {
    font-size: vw2(16px);
  }

  @include small {
    font-size: 16px;
  }
}

.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1240px;
  height: 100%;
  padding: 0 vw(20px);
  margin: 0 auto;

  @include xsmall {
    padding: 0 vw2(50px);
  }

  @include small {
    padding: 0 50px;
  }
}

p {
  margin-bottom: vw(32px);

  @include xsmall {
    margin-bottom: vw2(32px);
  }

  @include small {
    margin-bottom: 32px;
  }
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

icon {
  display: inline;
  height: 1em;
  margin-right: 8px;
  vertical-align: -0.2em;

  @include xsmall {
    height: vw2(37px);
    // margin-right: 0;
    vertical-align: vw2(-4px);
  }

  @include small {
    height: 37px;
    vertical-align: -4px;
  }

  &.--percent {
    content: url("../images/content/percent.svg");
  }

  &.--e {
    content: url("../images/content/e.svg");

    @include xsmall {
      margin-right: vw2(-9px);
    }

    @include small {
      margin-right: -9px;
    }
  }

  &.--heart {
    content: url("../images/content/heart.svg");
  }

  &.--chat {
    content: url("../images/content/chat.svg");
  }

  &.--shield {
    content: url("../images/content/shield.svg");
  }

  &.--crown {
    content: url("../images/content/crown.svg");
  }

  &.--chat,
  &.--shield,
  &.--crown {
    @include xsmall {
      margin-right: vw2(12px);
    }

    @include small {
      margin-right: 12px;
    }
  }
}

.orange {
  color: $orange;
}

.pink {
  color: $pink;
}

.blue {
  color: $dodger-blue;
}

.dodger-blue {
  color: $dodger-blue;
}

.booking-blue {
  color: #499fdd;
}

.rentalcars-blue {
  color: #3b8ef4;
}

.tiqets-teal {
  color: #56b7bb;
}

.teal {
  color: #34ffda;
  white-space: nowrap;
}

.travelata-yellow {
  color: #EC933D;
}

.purple {
  color: $purple;
}

.nowrap {
  white-space: nowrap;
}

// SECTION
.section {
  &__title {
    margin-bottom: 1em;
    font-family: 'Stapel', sans-serif;
    font-size: vw(20px);
    font-weight: 800;
    line-height: 1.3;

    @include xsmall {
      max-width: vw2(544px);
      font-size: vw2(40px);
    }

    @include small {
      max-width: 544px;
      font-size: 40px;
      margin-bottom: 24px;
    }
  }

  &__h1 {
    margin-bottom: vw(24px);
    font-family: 'Stapel', sans-serif;
    font-size: vw(24px);
    font-weight: 800;
    line-height: 1.2;

    @include xsmall {
      margin-bottom: vw2(32px);
      font-size: vw2(40px);
    }

    @include small {
      margin-bottom: 32px;
      font-size: 40px;
    }
  }

  &__subtitle {
    list-style: disc;
    list-style: inside;
  }

  &.pcr {
    background: #090909;

    @include small {
      padding-top: 12vh;

      .scene__text {
        height: 100vh;
        padding-top: 5vw;
      }
    }

  .scene {
    box-sizing: content-box;
    height: 100vh;
    padding: 0 0 13vw;
    background:
      image-set(
        url("../images/design/bg5.jpg") 1x,
        url("../images/design/bg5@2x.jpg") 2x) right center/cover no-repeat;
    }
  }

  &.last {
    padding: 20px 0 282px;
    padding-bottom: 248px;
    background: #141414;

    @include small {
      &__content.--center {
        padding-bottom: 12vh;
      }
    }
  }

  &__flex {
    position: relative;
    /* justify-content: center; */
    display: flex;
    align-items: flex-start;

    @include xsmall {
      align-items: center;
      height: 100%;
    }
  }

  &__content {
    z-index: 1;
    user-select: none;

    @include xsmall {
      max-width: vw2(560px);
    }

    @include small {
      max-width: 560px;
      margin: inherit;
    }
  }

  &__p,
  &__ol {
    @include xsmall {
      font-size: vw2(24px);
    }

    @include small {
      font-size: 24px;
    }
  }

  &__ol {
    padding-left: 1.3em;
  }
}

.subsection {
  width: 100%;
  margin: 1em 0 auto;

  @include xsmall {
    width: auto;
    max-width: vw2(408px);
    margin: 0;
  }

  @include small {
    max-width: 408px;
  }

  &.--arrow {
    &::before {
      display: block;
      width: 20px;
      height: 20px;
      margin-bottom: 16px;
      content: url("../images/content/arrow.svg");
    }
  }

  &__logo {
    margin-bottom: 20px;

    @include xsmall {
      &.--booking {
        width: vw2(163px);
      }

      &.--tiqets {
        width: vw2(124px);
      }

      &.--rentalcars {
        width: vw2(180px);
      }
    }

    @include small {
      &.--booking {
        width: 163px;
      }

      &.--tiqets {
        width: 124px;
      }

      &.--rentalcars {
        width: 180px;
      }
    }
  }

  &__p {
    @include small {
      display: none;
    }
  }
}

.--left {
  left: 0;
  margin-right: auto;
}

.--right {
  right: 0;
  margin-left: auto;
}

.--center-top {
  right: 0;
  left: 0;
  margin: 0 auto auto;

  @include xsmall {
    top: vw2(50px);
    margin-top: vw2(50px);
  }

  @include small {
    top: 50px;
    margin-top: 50px;
  }
}

.--center-bottom {
  top: auto;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto auto 0;
}

.--center {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto auto;

  &.--fade-out-top {
    top: auto;
    bottom: auto;
  }
}

.tapes {
  position: relative;
  z-index: 1;
}

.tapes::before {
  display: block;
  width: 100%;
  content: "";
  background-position: center;
  background-size: cover;
}

.tapes1::before {
  height: 232px;
  margin-bottom: 24px;
  background-image: url("../images/design/tapes1-desktop-c.svg");

  @include small {
    position: absolute;
    top: -9vw;
    z-index: 3;
    height: 25vw;
  }
}

.tapes2::before {
  position: absolute;
  top: -18vw;
  height: 32vw;
  background-image: url("../images/design/tapes2-desktop.svg");
  background-size: auto 150%;

  @include small {
    height: 29vw;
    background-position: 90%;
    background-size: cover;
  }
}

.tapes3::before {
  position: absolute;
  top: -50px;
  z-index: 3;
  height: 33vw;
  background-image: url("../images/design/tapes3-desktop.svg");
  background-size: auto 150%;

  @include small {
      position: absolute;
      top: -9vw;
      height: 29vw;
      background-size: cover;
  }
}

.section.two .scene {
  background:
    image-set(
      url("../images/design/bg2-1.webp") 1x,
      url("../images/design/bg2-1@2x.webp") 2x) right top no-repeat;

  @include xsmall {
    background:
      image-set(
        url("../images/design/bg2-1.webp") 1x,
        url("../images/design/bg2-1@2x.webp") 2x) right top/auto 100% no-repeat,
      image-set(
        url("../images/design/bg2-2.webp") 1x,
        url("../images/design/bg2-2@2x.webp") 2x) left bottom/auto 100% no-repeat,
  }
}

@include xsmall {
// keep it for when we use mobile WxH ratio canvas
//   .two .scene__text {
//     top: 18%;
//     padding-top: 0;
//   }

//   .subsection {
//     right: 0;
//     left: 0;
//     margin: 0 auto;
//   }
}

@include small {
 .two .scene__text {
    top: 0;
  }

  .subsection {
  }
}

.--hidden-tiny {
  display: none;

  @include small {
    display: inherit;
  }
}

strike.--small {
  font-size: 20px;
  font-weight: 400;
}

.splash-screen {
  position: fixed;
  top: 0;
  z-index: 7;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  visibility: visible;
  background-color: #141414;
  opacity: 1;

  &.--hidden {
    visibility: hidden;
    opacity: 0;
    transition: all .45s;
  }

  &__percents {
    font-family: 'Stapel', sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 0;
    transform: translateY(16vh);
  }

  .preloader-icon {
    width: 120px;
    height: 120px;
    mix-blend-mode: screen;
  }
}

svg#sprites {
  position: absolute;
  z-index: -5;
  visibility: hidden;
}

.section__flex {
  height: 100%;

  &.align-start {
    align-items: flex-start;
  }
}

.pcr__button {
  display: none;

  @include xsmall {
    display: block;
    margin-top: vw2(48px);
  }

  @include small {
    margin-top: 48px;
  }
}

// ::-webkit-scrollbar {
//   width: 8px;
// }
//
// ::-webkit-scrollbar-track {
//   width: 10px;
//   background-color: #242528;
//   border-radius: 100px;
// }
//
// ::-webkit-scrollbar-thumb {
//   width: 8px;
//   background-color: #2e3035;
//   border-radius: 100px;
// }
